<div class="container">
<h1>Stupid Coaching</h1>
<div class="user_q">
<%= @user_q %>
<p><em>- You</em></p>
</div>
<div class="coach_answer">
<%= @coach_answer %>
<p><em>- Coach</em></p>
</div>
<div class="new_message">
<button><%= link_to'New Message', ask_path %></button>
</div>
</div>
